*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
misc.xml
deploymentTargetSelector.xml
app/build

# Python
__pycache__/
*.pyc

# Crawler Output
crawler/output/
crawler/tencent/
output/
tencent/

# Runtime History
# **/*_history.json

# IDE
**/.vscode/
